<div class="container">
  <div class="column is-centered">
    <div class="box column is-one-third">
      <h1 class ="title has-text-centered">Practice Typing</h1>

        <!-- <p class ="has-text-centered">
          <span *ngFor="let letter of randomQuoteText.split(''); let i = index;" 
          [ngClass]="valueFromInput==''? 'default' : letter == valueFromInput[i]? 'green': 'red'">{{letter}}</span>
        </p> -->

        <p class ="has-text-centered">
          <span *ngFor="let letter of randomQuoteText.split(''); let i = index;" 
          [ngClass]="compare(letter,valueFromInput[i])">{{letter}}</span>
        </p>

        <div class="field">
          <input type="text" class="input" (input)="onTypingHandler($event)">
        </div>

        <div class="has-text-centered box" *ngIf="checkIfTheTypedContentMatchesRandomText()">
          <h1 class="title">success!!</h1>
        </div>
    </div>
  </div>
</div>